<?page title="${arg.save}" contentType="text/html;charset=UTF-8"?>
<window xmlns:n="native" xmlns:x="xhtml" xmlns:zk="zk" apply="org.zkoss.bind.BindComposer"
	id="wdn" border="normal" mode="modal" action="show: slideIn"
	contentStyle="overflow:auto;" closable="true" title="${arg.save}"
	onClose="@command('invokeGG', notify=vmArgs, detach=wdn, attr='vaiTroQuery')"
	whatever="@load(true,after='cmd') @converter('tcx.hg.service.DetachConverter')"
	viewModel="@id('vm') @init(arg.model)" validationMessages="@id('vmsgs')" width="500px">
	
	<zscript><![CDATA[
		entry = new tcx.hg.service.BaseObject().core();
		notifyObject = arg.get("notify");
		vmArgs = arg.get("vmArgs");				
	]]></zscript>

	<div class="row box-body">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<x:label>Tên vai trò<n:small class="required"> *</n:small></x:label>
						<textbox width="100%" class="form-control"
							value="@load(vm.tenVaiTro) @save(vm.tenVaiTro, before='saveVaiTro') 
							@validator('tcx.hg.vm.BaseValid', constraint='no empty', field='tenVaiTro', id=vm, cmsg='Tên vai trò này đã tồn tại.')" />
						<label class="error" value="@load(vmsgs[self.previousSibling])" />
					</div>
					<div class="form-group">
						<checkbox label="Áp dụng" checked="@bind(vm.checkApDung)" />
					</div>
				</div>				
			</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="form-group">
				<x:label>Phân quyền chức năng</x:label>
				<tree multiple="true" checkmark="true" model="@load(vm.model)"
					selectedItems="@bind(vm.selectedItems)" height="500px">
					<custom-attributes
						org.zkoss.zul.tree.rightSelect="false" />
					<treecols sizable="true">
						<treecol label="Tên chức năng và quyền"></treecol>
					</treecols>
					<template name="model" var="node">
						<treeitem open="true">
							<treerow>
								<treecell>
									<label value="@load(node.data[0])"></label>
								</treecell>
							</treerow>
						</treeitem>
					</template>
				</tree>
			</div>
		</div>
	</div>
	
	<div class="row box-footer">  		
		<x:button class="btn btn-success" 
		 	zk:if="${(vm.noId() and entry.quyen.vaitro_them) or (!vm.noId() and entry.quyen.vaitro_sua)}"
		 	onClick="@command('saveVaiTro', list=notifyObject, attr='vaiTroQuery',wdn=wdn)">
			<n:i class="fa fa-save"></n:i>&#160;&#160;Lưu
		</x:button>
		<x:button class="btn btn-default" 
			onClick="@command('invokeGG', notify=notifyObject, detach=wdn, attr='vaiTroQuery')">
			Hủy
		</x:button>
	</div>

</window>

