.sv-info{
	z-index: 11;
    position: absolute;
    width: 400px;
    right: 0px;
    border: 1px solid #cd5e70;
    padding: 10px 10px;
    background: #6b333d;
    border-radius: 10px;
    color: ghostwhite;
}
.sv-info p{
	color: ghostwhite;
}
.sv-login{
	z-index: 11;
	position:absolute;
	right: 0px;
	border: 1px solid #cd5e70;
    padding: 10px 10px;
    background: #6b333d;
    border-radius: 10px;
    width: 477px;
    color: ghostwhite;
}
.login-input{
	border: none;
    border-radius: 5px;
    padding: 7px 7px;
    margin-right: 6px;
}
.login-submit{
	border: 1px solid #cd5e70;
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(to right, #f9633d , #fe2c76);
    padding: 5px 11px;
    color: ghostwhite;
    border-radius: 5px;
}
.sv-avatar{
	margin-bottom: 5px;
	background-color: rgb(238, 238, 238);
	border-radius:50%;
}
.sv-info-button a{
	width:48%;
	display:inline-block;
	border: 1px solid #cd5e70;
	float: left;
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(to right, #f9633d , #fe2c76);
    padding: 7px 0px;
}
.icon-sv-info{
	position:relative;
}
.register{
    cursor: pointer;
    display: block;
    margin-top: 10px;
}
@media only screen and (max-width: 480px){
	.sv-login{
		z-index: 11;
		position:absolute;
		left: 0px;
		border: 1px solid #cd5e70;
	    padding: 10px 10px;
	    background: #6b333d;
	    border-radius: 10px;
	    width: 50%;
	    color: ghostwhite;
	}
	.login-input{
		border: none;
	    border-radius: 5px;
	    padding: 7px 7px;
	    margin-bottom: 10px;
	    width: 100%;
	}
	.login-submit{
		border: 1px solid #cd5e70;
	    text-align: center;
	    margin-bottom: 10px;
	    background: linear-gradient(to right, #f9633d , #fe2c76);
	    padding: 5px 11px;
	    color: ghostwhite;
	    border-radius: 5px;
	    width: 100%;
	}
}
