<?page title="Quản lý hợp đồng" contentType="text/html;charset=UTF-8"?>
<div xmlns:zk="zk" xmlns:n="native" xmlns:x="xhtml" apply="org.zkoss.bind.BindComposer"
	viewModel="@id('vm') @init('tcx.hg.cms.service.HopDongService')">
	<zscript><![CDATA[
		self.page.title= "Quản lý hợp đồng";
	]]></zscript>
	<n:section class="content-header">
		<n:h1 class="header-title">Danh mục hợp đồng</n:h1>
	</n:section>
	<n:section class="content">
	    <n:div class="row">
	    	<n:div class="col-md-12">
	    		<n:div class="box box-info margin-box">
	    			<n:div class="box-header">
		    			<n:h3 class="box-title">Tìm kiếm</n:h3>
	    				<n:div class="box-tools pull-right">
	    					<n:button type="button" class="btn btn-box-tool" data-widget="collapse"><n:i class="fa fa-minus"></n:i></n:button>
	    				</n:div>	    				
	    			</n:div>
	    			<!-- /.box-header -->
	    			<n:div class="box-body">
	    				<n:div class="row">
	    					<n:div class="col-sm-3 col-md-3">
		    					<div class="form-group">
									<x:label>Từ khóa</x:label>
									<textbox class="form-control" value="@bind(vm.arg.tukhoa)" 
										style="width:99%;display:inline;" placeholder="Nhập tên sinh viên hoặc mã sinh viên"
										onOK="@command('cmd', notify=vm, attr='*')" />
								</div>
							</n:div>
							<n:div class="col-md-2">
		    					<n:div class="form-group" >
		    						<x:label class="control-label">Trạng thái</x:label>
		    						<combobox readonly="true" style="display:block" width="99%" placeholder="Tất cả"
		    								  selectedItem="@bind(vm.arg.trangthai)" >
    									<comboitem value="" label="Tất cả" />
    									<comboitem value="da_lap_hd" label="Đã lập hợp đồng" />
    									<comboitem value="chua_lap_hd" label="Chưa lập hợp đồng" />
	    							</combobox>
		    					</n:div>
		    				</n:div>
	    				</n:div>
	    				<n:div class="row">
	    					<n:div class="col-md-4">
								<n:div class="form-group" style="margin-bottom: 0px;">
									<x:label>Thời gian lập hợp đồng</x:label>
								</n:div>
							</n:div>
	    				</n:div>
	    				<n:div class="row">
	    					<n:div class="col-md-2">
								<n:div class="form-group">
									<x:label>Từ ngày</x:label>
									<datebox format="dd-MM-yyyy" width="99%"
										sclass="mis-datebox-inner" value="@bind(vm.ngayBatDau)"/>
								</n:div>
							</n:div>
							<n:div class="col-md-2">
								<n:div class="form-group" >
									<x:label>Đến ngày</x:label>
									<datebox format="dd-MM-yyyy" width="99%"
										sclass="mis-datebox-inner" value="@bind(vm.ngayKetThuc)"/>
								</n:div>
							</n:div>
							
							<n:div class="col-md-2">
	    						<x:label class="control-label">&#160;</x:label>
	    						<n:div class="form-group">
	    							<x:button class="btn btn-warning" type="button" onClick="@command('cmd', notify=vm, attr='*')" >
										<n:i class="fa fa-search"></n:i> Tìm kiếm
									</x:button>
	    						</n:div>
	    					</n:div>
	    				</n:div>
		    		</n:div>
    			</n:div>
    		</n:div>
    		<n:div class="col-md-12">
    			<n:div class="box box-success">
    				<n:div class="box-header">
	    				<n:h3 class="box-title"></n:h3>
	    				<n:div class="box-tools pull-right">
	    					<x:button class="btn btn-success" zk:if="${entry.quyen.hopdong_them}" 
	    						onClick="@command('redirectPage', zul='hopdong/add.zul', vmArgs=vm, vm=null)">
    							<n:i class="fa fa-plus"></n:i>&#160;&#160;Thêm mới
    						</x:button>
	    				</n:div>
	    				<n:div class="box-tools-left pull-left">
	    					<x:button class="btn btn-danger" zk:if="${entry.quyen.sinhvien_xem or entry.quyen.sinhvien_lietke}" 
	    						onClick="@command('redirectPage', zul='hopdong/listOutOfDate.zul', vmArgs=vm, vm=null)">
    							<n:i class="fa fa-th-list"></n:i>&#160;&#160;Sinh viên quá hạn hợp đồng
    						</x:button>
	    				</n:div>
	    			</n:div>
	    			<n:div class="box-body">
    					<n:div class="dataTables_wrapper form-inline dt-bootstrap">
    						<n:div class="row">
    							<n:div class="col-md-12">
    								<grid model="@load(vm.page(vm.targetQuery).fetch())" width="100%" id="grid"
								emptyMessage="Danh sách không có hợp đồng nào" class="hidden-xs">
										<columns>
											<column label="STT" hflex="min" sclass="text-align-center"/>
											<column label="Mã HĐ" width="10%"/>
											<column label="Mã sinh viên" width="15%" />
											<column label="Tên sinh viên" width="26%" />
											<column label="Tên phòng trọ" width="15%" />
											<column label="Ngày lập HĐ" width="15%" />
											<column label="Ngày hủy HĐ" width="15%" />
											<column label="Thao tác" width="150px" sclass="text-align-center"/>
										</columns>
										<template name="model">
											<row apply="org.zkoss.bind.BindComposer" viewModel="@id('item') @init(each)">
												<label value="@bind(forEachStatus.index + 1 + vm.arg.page * vm.arg.pagesize)" style="text-align:center;display:block"/>
												<label value="@load(each.id)"/>
												<label value="@load(each.sinhvien.maSV)"/>
												<label value="@load(each.sinhvien.hoVaTen)"/>
												<label value="@load(each.phongtro.name)"/>
												<label value="@load(each.ngayTaoHD) @converter('formatedDate',format='dd/MM/yyyy')"/>
												<label value="@load(each.ngayHuyHD) @converter('formatedDate',format='dd/MM/yyyy')"/>
												<div class="text-align-center">
													<x:button class="btn btn-info btn-xs" zk:if="${entry.quyen.hopdong_sua and entry.quyen.sinhvien_sua}"
														onClick="@command('redirectPage', zul='hopdong/view.zul',vmArgs=vm,vm=item)">
														<n:i class="fa fa-pencil-square-o"></n:i>
													</x:button>
													<x:a class="btn btn-info btn-xs" zk:if="${entry.quyen.hopdong_xem and !entry.quyen.baiviet_sua and !entry.quyen.sinhvien_sua}"
														onClick="@command('redirectPage', zul='hopdong/view.zul',vmArgs=vm,vm=item)">
														<n:i class="fa fa-eye"></n:i>
													</x:a>
													<x:a class="btn btn-danger btn-xs" zk:if="${entry.quyen.hopdong_xoa}"
														onClick="@command('deleteTrangThaiConfirmAndNotify', notify=vm, attr='targetQuery')">
														<n:i class="fa fa-trash-o"></n:i>
													</x:a>
												</div>
											</row>
										</template>
									</grid>
    							</n:div>
    						</n:div>
    					</n:div>
    					<!-- paging -->
    					<paging pageSize="@load(vm.arg.pagesize)" totalSize="@load(vm.targetQuery.fetchCount())"
								visible="@load(vm.targetQuery.fetchCount() > vm.arg.pagesize ? true : false)"
								activePage="@bind(vm.arg.page)" onPaging="@command('cmd', notify=vm, atr='targetQuery')" />
    					<!-- paging -->
    				</n:div>
   				</n:div>
			</n:div>   
	    </n:div>
	</n:section>
</div>