<?page title="Quản lý phòng trọ" contentType="text/html;charset=UTF-8"?>
<div xmlns:zk="zk" xmlns:n="native" xmlns:x="xhtml"
	viewModel="@id('vm') @init('tcx.hg.cms.service.RoomService')">
	<zscript><![CDATA[
		self.page.title= "Quản lý phòng trọ";
	]]></zscript>
	<n:section class="content-header">
		<n:h1 class="header-title">Danh mục phòng trọ</n:h1>
	</n:section>
	<n:section class="content">
	    <n:div class="row">
	    	<n:div class="col-md-12">
		    	<n:div class="box box-info margin-box">
		    		<n:div class="box-header">
		    			<n:h3 class="box-title">Tìm kiếm</n:h3>
	    				<n:div class="box-tools pull-right">
	    					<n:button type="button" class="btn btn-box-tool" data-widget="collapse"><n:i class="fa fa-minus"></n:i></n:button>
	    				</n:div>	    				
	    			</n:div>
	    			<n:div class="box-body">
	    				<n:div class="row">
	    					<n:div class="col-md-3">
		    					<n:div class="form-group" >
		    						<x:label class="control-label">Từ khóa</x:label>
									<textbox class="form-control" value="@bind(vm.arg.tukhoa)" 
										style="width:99%;display:inline;" placeholder="Nhập tên phòng trọ"
										onOK="@command('cmd', notify=vm, attr='*')" />
								</n:div>
							</n:div>
							<n:div class="col-md-3">
		    					<n:div class="form-group" >
		    						<x:label class="control-label">Trạng thái</x:label>
		    						<combobox readonly="true" style="display:block" width="99%" placeholder="Tất cả"
	    								model="@load(entry.trangThaiListAndNull)" selectedItem="@bind(vm.arg.trangthai)" >
	    								<template name="model">
	    									<comboitem value="@load(each.key)" label="@load(each.value eq '' ? 'Tất cả' : each.value)" />
	    								</template>
	    							</combobox>
		    					</n:div>
		    				</n:div>
		    				<n:div class="col-md-3">
		    					<n:div class="form-group" >
		    						<x:label class="control-label">Số người tối đa</x:label>
		    						<combobox readonly="true" style="display:block" width="99%" placeholder="Tất cả"
	    								model="@load(vm.soNguoiMaxList)" selectedItem="@bind(vm.arg.songuoimax)" >
	    								<template name="model">
	    									<comboitem value="@load(each.maxPeople)" label="@load(each.maxPeople eq '' || each.maxPeople eq null ? 'Tất cả' : each.maxPeople)" />
	    								</template>
	    							</combobox>
		    					</n:div>
		    				</n:div>
		    				<n:div class="col-md-3">
		    					<n:div class="form-group" >
		    						<x:label class="control-label">Khu nhà</x:label>
		    						<combobox readonly="true" style="display:block" width="99%" placeholder="Tất cả"
	    								model="@load(entry.houses.allHouseList)" selectedItem="@bind(vm.arg.house)" >
	    								<template name="model">
	    									<comboitem value="@load(each.name)" label="@load(each.name eq '' || each.name eq null ? 'Tất cả' : each.name)" />
	    								</template>
	    							</combobox>
		    					</n:div>
		    				</n:div>
							<n:div class="col-md-3">
	    						<x:label class="control-label">&#160;</x:label>
	    						<n:div class="form-group">
									<x:button class="btn btn-warning" type="button"
						    			onClick="@command('cmd', notify=vm, attr='targetQuery')" >
										<n:i class="fa fa-search"></n:i> TÌM KIẾM
									</x:button>
	    						</n:div>
	    					</n:div>
	    				</n:div>
		    		</n:div>
		    	</n:div>
	    	</n:div>
	    		<!-- /.box-header -->
   			<n:div class="col-md-12">
    			<n:div class="box box-success">
    				<n:div class="box-header">
	    				<n:h3 class="box-title"></n:h3>
	    				<n:div class="box-tools pull-right">
	    					<x:button  zk:if="${entry.quyen.room_them}" class="btn btn-success" 
	    						onClick="@command('redirectPage', zul='room/add.zul', vmArgs=vm, vm=null)">
    							<n:i class="fa fa-plus"></n:i>&#160;&#160;Thêm mới
    						</x:button>
	    				</n:div>
	    			</n:div>
	    			<n:div class="box-body">
    					<n:div class="dataTables_wrapper form-inline dt-bootstrap">
    						<n:div class="row">
    							<n:div class="col-md-12">
    								<grid model="@load(vm.page(vm.targetQuery).fetch())" width="100%" id="grid"
										emptyMessage="Danh sách không có khu nhà nào" class="hidden-xs">
										<columns>
											<column label="STT" hflex="min" sclass="text-align-center"/>
											<column label="Tên phòng trọ" width="24%" />
											<column label="Số lượng người tối đa" width="20%" />
											<column label="Trạng thái" width="100px" sclass="text-align-center"/>
											<column label="Thao tác" width="80px" sclass="text-align-center"/>
										</columns>
										<template name="model">
											<row apply="org.zkoss.bind.BindComposer" viewModel="@id('item') @init(each)">
												<label value="@bind(forEachStatus.index + 1 + vm.arg.page * vm.arg.pagesize)" style="text-align:center;display:block"/>
												<label value="@load(each.name)"/>
												<label value="@load(each.maxPeople)"/>
												<cell sclass="text-align-center">
													<n:span class="${each.setStyleTrangThai(each.trangThai)}">${each.trangThaiText eq null ? '   ' : each.trangThaiText}</n:span>
												</cell>
												<div class="text-align-center">
													<x:button  zk:if="${entry.quyen.room_sua}" class="btn btn-info btn-xs"
														onClick="@command('redirectPage', zul='room/view.zul',vmArgs=vm,vm=item)">
														<n:i class="fa fa-pencil-square-o"></n:i>
													</x:button>
													<x:a zk:if="${entry.quyen.room_xem and !entry.quyen.room_sua}" class="btn btn-info btn-xs" 
														onClick="@command('redirectPage', zul='room/view.zul',vmArgs=vm,vm=item)">
														<n:i class="fa fa-eye"></n:i>
													</x:a>
													<x:a zk:if="${entry.quyen.room_xoa}" class="btn btn-danger btn-xs" 
														onClick="@command('deleteTrangThaiConfirmAndNotify', notify=vm, attr='targetQuery')">
														<n:i class="fa fa-trash-o"></n:i>
													</x:a>
												</div>
											</row>
										</template>
									</grid>
    							</n:div>
    						</n:div>
    					</n:div>
    					<!-- paging -->
    					<paging pageSize="@load(vm.arg.pagesize)" totalSize="@load(vm.targetQuery.fetchCount())"
							visible="@load(vm.targetQuery.fetchCount() > vm.arg.pagesize ? true : false)"
							activePage="@bind(vm.arg.page)" onPaging="@command('cmd', notify=vm, atr='targetQuery')" />
    					<!-- paging -->
    				</n:div>
   				</n:div>
   			</n:div>    
	    </n:div>
	</n:section>
</div>